DATABASE_URL=postgresql://USER:PASSWORD@localhost:5432/amboras_analytics?schema=public

JWT_SECRET=
JWT_EXPIRES_IN=7d

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=http://localhost:3000/api/v1/auth/google/callback

FRONTEND_URL=http://localhost:3001

SESSION_SECRET=

SEED_ATTACH_EMAIL=
SEED_STORE_ID=seed_store_demo_001

NEXT_PUBLIC_API_URL=http://localhost:3000
